a {
    text-decoration: none;
    color: inherit;
}

    a:hover {
        color: red;
    }

nav {
    list-style-type: none;
    
    display: grid;
    place-items: center;
}

.nav-horizontal {
    grid-auto-flow: column;
    
}

.nav-vertical {
    grid-auto-flow: row;
}